@font-face {
  font-family: "roboto-heavy";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: roboto;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
body nav > p {
  display: none;
  font-family: roboto-heavy;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  text-decoration: none;
  background-color: #9B9B9B;
  padding: 10px;
  color: #EBEBEB;
  cursor: pointer;
}
body nav > p:hover {
  color: #9B9B9B;
  background-color: #EBEBEB;
  border-right: 3px solid #9B9B9B;
  border-bottom: 3px solid #9B9B9B;
}
body main {
  display: flex;
  flex-direction: column;
}
body main.menu {
  align-items: center;
}
body main.menu > i {
  size: 2em;
  margin-bottom: 20px;
}
body main.menu > p.tab {
  text-transform: capitalize;
  text-align: center;
  background-color: #EBEBEB;
  border: 3px solid #EBEBEB;
  color: #9B9B9B;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  margin: 5px;
}
body main.menu > p.tab:hover {
  color: #9B9B9B;
  background-color: #EBEBEB;
  border-right: 3px solid #9B9B9B;
  border-bottom: 3px solid #9B9B9B;
}
body main.sheet > section {
  display: flex;
  flex-direction: column;
}
body main.sheet > section > div {
  display: flex;
  justify-content: center;
  width: 300px;
  padding: 10px;
  background-color: #EBEBEB;
  flex-wrap: wrap;
}
body main.sheet > section > div > section {
  flex-direction: column;
  display: flex;
  width: 45%;
}
body main.sheet .name {
  text-transform: uppercase;
  font-family: roboto-medium;
  margin: 0;
  width: 100%;
  text-align: center;
}
body main.sheet .icon, body main.sheet .parser {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #9B9B9B;
  cursor: pointer;
  color: white;
  margin: 5px;
  border-radius: 90px;
}
body main.sheet .icon:hover, body main.sheet .parser:hover {
  background-color: #EBEBEB;
  color: grey;
}
body main.sheet .parser {
  font-family: roboto-heavy;
}
@media (max-width: 768px) {
  body {
    background-color: #EBEBEB;
  }
}

/*# sourceMappingURL=main.css.map */
